@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat', sans-serif;
  /** color palette **/
  --black: #000000;
  --blue-10: #E5F7F9;
  --green: #82DB39;
  --white: #FFFFFF

}
